<!--Header content-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img id="logo-icon" src="http://imgh.us/compass_2.svg">
            <a class="navbar-brand" href="/">HikingWorld</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/upload">Upload</a></li>
                <li><a href="/trails">Trails</a></li>
                <li><a href="/pictures">Images</a></li>
                <li><a href="/videos">Videos </a></li>
                <li><a href="/news">Stories</a></li>
                
                <!--If not authorized--->
                <li><a href="/register">Sign Up</a></li>
                <li><a href="/login">Log In </a></li>
                <!--Only if authorized-->
                <li><a href=""><i class="fa fa-user" aria-hidden="true"></i> Username Here</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--Main page content-->
<div class="jumbotron">
        <h1 class="greeting">EXPLORE THE GREAT OUTDOORS</h1>
    </div>
    <div class="container" id="home">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Join a Vibrant Community of Hikers</h2>
            </div>
        </div>
        <div class="row features">
            <div class="col-md-4">
                <i class="fa fa-file-image-o fa-5x" aria-hidden="true"></i>
                <h3>Share Photos</h3>
                <p>HikingWorld members can upload their shots and comment on the photos of other members.</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-video-camera fa-5x" aria-hidden="true"></i>
                <h3>View and Upload Videos</h3>
                <p>Easily share videos of your hikes and adventures, from waterfalls to animal sightings.</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-file-image-o fa-5x" aria-hidden="true"></i>
                <h3>Tell Your Story</h3>
                <p>Looking for a new place to hike near you? Read hiking accounts of others in your community to find new spots to check out.</p>
            </div>
        </div>
        <div class="row directions">
            <div class="col-sm-6">
                <h2>Get Directions to Trails</h2>
                <p>With Google Maps integration, you can get step-by-step directions to any hiking destination tagged in user photos.</p>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive center-block" src="http://i.imgur.com/DbZpLSG.jpg" alt="directions">
            </div>
        </div>
        <div class="row hike-info">
            <div class="col-sm-6">
                <img class="img-responsive center-block" src="http://i.imgur.com/r5SrsLu.jpg" alt="forest">
            </div>
            <div class="col-sm-6">
                <h2>Get All the Details</h2>
                <p>Our database will provide you with information on the trails available and must-see spots, along with images and links to maps to help you prepare your trip.</p>
            </div>
        </div>
    </div>
    
    <!--Footer code-->
    <div class="container footer">
        <footer class="row">
    <div class="col-sm-4 col-xs-6">
        <h4>Media</h4>
        <p><a>Images</a></p>
        <p><a>Videos</a></p>
        <p><a>Stories</a></p>

    </div>
    <div class="col-sm-4 col-xs-6">
        <h4>My Account</h4>
        <p><a>Login</a></p>
        <p><a>Register</a></p>
        <p><a>My Profile</a></p>

    </div>
    <div class="col-sm-4 col-xs-6">
        <h4>About Us</h4>
        <p><a>What We Do</a></p>
        <p><a>Contact Us</a></p>
        <p><a>Privacy Policy</a></p>

    </div>
</footer>
<!----Closing container -->
    </div>
</body>
</html>