
<!--Main page content-->
<div class="jumbotron">
        <h1 class="greeting">EXPLORE THE GREAT OUTDOORS</h1>
    </div>
    <div class="container" id="home">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Join a Vibrant Community of Hikers</h2>
            </div>
        </div>
        <div class="row features">
            <div class="col-md-4">
                <i class="fa fa-file-image-o fa-5x" aria-hidden="true"></i>
                <h3>Share Photos</h3>
                <p>HikingWorld members can upload their shots and comment on the photos of other members.</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-video-camera fa-5x" aria-hidden="true"></i>
                <h3>View and Upload Videos</h3>
                <p>Easily share videos of your hikes and adventures, from waterfalls to animal sightings.</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-file-image-o fa-5x" aria-hidden="true"></i>
                <h3>Tell Your Story</h3>
                <p>Looking for a new place to hike near you? Read hiking accounts of others in your community to find new spots to check out.</p>
            </div>
        </div>
        <div class="row directions">
            <div class="col-sm-6">
                <h2>Get Directions to Trails</h2>
                <p>With Google Maps integration, you can get step-by-step directions to any hiking destination tagged in user photos.</p>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive center-block" src="http://i.imgur.com/DbZpLSG.jpg" alt="directions">
            </div>
        </div>
        <div class="row hike-info">
            <div class="col-sm-6">
                <img class="img-responsive center-block" src="http://i.imgur.com/r5SrsLu.jpg" alt="forest">
            </div>
            <div class="col-sm-6">
                <h2>Get All the Details</h2>
                <p>Our database will provide you with information on the trails available and must-see spots, along with images and links to maps to help you prepare your trip.</p>
            </div>
        </div>
    </div>
    
<!----Closing container -->
    </div>
    
     <div class="container footer">
</body>
</html>