<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="page-heading">Thank you!</h1>
            <p>We have received your message and will respond as soon as possible.</p>    
        </div>
    </div>
</div>
<div class="container">
