 <!--Footer code-->
        <footer class="row">
    <div class="col-sm-4 col-xs-4">
        <h4>Media</h4>
        <p><a>Images</a></p>
        <p><a>Videos</a></p>
        <p><a>Stories</a></p>

    </div>
    <div class="col-sm-4 col-xs-4">
        <h4>My Account</h4>
        <p><a>Login</a></p>
        <p><a>Register</a></p>
        <p><a>My Profile</a></p>

    </div>
    <div class="col-sm-4 col-xs-4">
        <h4>About Us</h4>
        <p><a>What We Do</a></p>
        <p><a>Contact Us</a></p>
        <p><a>Privacy Policy</a></p>

    </div>
</footer>