 <!--Footer code-->
        <footer class="row">
    <div class="col-sm-4 col-xs-4">
        <h4>Media</h4>
        <p><a href="<%= pictures_path%>">Images</a></p>
        <p><a href="#">Videos</a></p>
        <p><a href=#>Stories</a></p>

    </div>
    <div class="col-sm-4 col-xs-4">
        <h4>My Account</h4>
        <p><a href="#">Login</a></p>
        <p><a href="#">Register</a></p>
        <p><a href="#">My Profile</a></p>

    </div>
    <div class="col-sm-4 col-xs-4">
        <h4>About Us</h4>
        <p><a href="<%= about_path%>">What We Do</a></p>
        <p><a href="<%= contact_path %>">Contact Us</a></p>
        <p><a href="<%= privacy_path%>">Privacy Policy</a></p>

    </div>
</footer>