<div class="container">
    <div class="row">
        <div class="col-md-12">
             <h1 class="page-heading">Add a New Picture</h1>   
        </div>
    </div>
</div>

<%= render 'form', picture: @picture %>


<div class="container">
