<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h1 class="page-heading"><%= @picture.caption %></h1>
      </div>
  </div>
   <div class="row text-center">
      <div class="col-md-12">
          <div class="thumbnail" id="imagebox">
            <%= image_tag(@picture.image_url, class: "img-responsive")%>
          </div>
        </div>
   </div>
</div> <!-- Close main container --> 
<div class="container footer">


